<section class="s-products" *ngIf="productsToShow; else preloader">
  <div class="container">
    <app-products-catalog [products]="productsToShow"></app-products-catalog>
    <div class="b-pagination">
      <a href="#"
         class="b-pagination__link"
         (click)="changePage($event, 1)">First</a>
      <ul class="l-pagination">
        <li class="l-pagination__item"
            *ngIf="pagesList[0] - 1 > 0">
          <a href="#"
             class="l-pagination__link"
             (click)="changePage($event, pagesList[0] - 1)">...</a>
        </li>
        <li class="l-pagination__item"
            [class._active]="currentPage == page"
            *ngFor="let page of pagesList">
          <a href="#"
             class="l-pagination__link"
             [class._disabled]="page > pagesQty"
             (click)="changePage($event, page)">{{page}}</a>
        </li>
        <li class="l-pagination__item"
            *ngIf="pagesList.indexOf(pagesQty) < 0">
          <a href="#"
             class="l-pagination__link"
             (click)="changePage($event, pagesList.pop() + 1)">...</a>
        </li>
      </ul>
      <a href="#"
         class="b-pagination__link"
         (click)="changePage($event, pagesQty)">Last</a>
    </div>
  </div>
</section>

<ng-template #preloader>
  <div class="b-preloader">
    <div class="b-preloader__item"></div>
  </div>
</ng-template>
