<ul class="l-products">
  <li class="l-products__item" *ngFor="let product of products">
    <div class="b-product _edging">
      <picture class="b-product__img-wrapper">
        <source media="(min-resolution: 144dpi)"
                [srcset]="product.thumbnails['b3']">
        <img class="b-product__img"
             [src]="product.thumbnails['b2']"
             [title]="product.productName"
             [alt]="product.productName" />
      </picture>
      <h4 class="b-product__title">{{product.productName}}</h4>
      <p class="b-product__price">${{product.productPrice}}</p>
    </div>
    <button class="b-product__btn"
            type="button" (click)="addToBag(product)">Add to bag</button>
  </li>
</ul>

<div class="b-added-mark _animate" *ngIf="isIconVisible">
  <svg class="svg-added" version="1.2">
    <use xlink:href="#svg-added"></use>
  </svg>
</div>
